.playlist-summary-container {
  width: 200px;
  margin-right: 60px;
  display: inline-block;
  &:hover {
    cursor: pointer;
  }
  .playlist-image {
    width: 200px;
    height: 200px;
    border-radius: 5px;
  }
  .playlist-title {
    display: block;
    font-size: 20px;
  }
  .playlist-author {
    display: block;
    font-size: 16px;
    font-weight: bold;
  }
}
