.playlist-popup {
  box-shadow: -6px -4px 6px 2px #2d2d2d14;
  box-sizing: border-box;
  padding: 20px;
  background-color: white;
  background: linear-gradient(19deg, #dd6990 0%, #fbafa8 100%);
  background-repeat: no-repeat;
  width: max-content;
  height: max-content;
  position: absolute;
  top: 65px;
  right: 5;
  border-radius: 5px;
  .playlist-input {
    display: block;
    margin: 10px 0;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    letter-spacing: 0.5px;
  }
  .playlist-submit {
    width: 100%;
    padding: 5px;
    text-align: left;
    background: #ffffff61;
    border-radius: 5px;
    padding: 10px 10px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    color: rgb(48, 48, 48);
  }
}
