.playlist-popup {
  box-shadow: -6px -4px 6px 2px #2d2d2d14;
  box-sizing: border-box;
  padding: 20px;
  background-color: white;
  width: max-content;
  height: max-content;
  position: absolute;
  top: 65px;
  right: 600px;
  border-radius: 5px;
  .playlist-input {
    display: block;
    margin: 10px 0;
    padding: 10px 10px;
    border: 1px solid #2d2d2d;
    border-radius: 5px;
    letter-spacing: 0.5px;
  }
  .playlist-submit {
    width: 100%;
    padding: 5px;
    text-align: left;
    background: #557079;
    border-radius: 5px;
    padding: 10px 10px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    color: #fff;
  }
}
