.track-container {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 20px;
  margin: 20px 0;
  color: white;

  .album-img {
    width: 100px;
    border-radius: 5px;
  }
  .track-data {
    display: flex;
    flex-direction: column;
    min-width: max-content;
    .track-name {
      display: block;
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 1px;
    }
    .artist-container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      max-height: 50px;
      align-content: flex-start;
      width: max-content;

      .artist-name {
        display: inline-block;
        width: max-content;
        font-size: 14px;
        margin-right: 10px;
      }
    }
    .track-duration {
      margin-top: auto;
      align-self: end;
    }
  }
}
