.spinner-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .spinner {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-bottom: solid 2px pink;
    animation: spin linear 1s infinite;
    &::after {
      content: "";
    }
  }
}

@keyframes spin {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}
