.spinner-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.25);
  .spinner {
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    border-radius: 100%;
    border-bottom: solid 2px pink;
    animation: spin linear 1s infinite;
  }
}

@keyframes spin {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}
