.playlist-container {
  margin-top: 50px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  .playlist-description-container {
    height: max-content;
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: end;
    margin-bottom: 50px;
    grid-gap: 20px;
    color: white;
    transition: all 0.3s;
    .playlist-image-big {
      width: 300px;
      border-radius: 10px;
    }

    .playlist-description-text {
      display: flex;
      flex-direction: column;
      .playlist-name-big {
        display: block;
        font-size: 40px;
        font-weight: bold;
      }
      .playlist-author-big {
        display: block;
        font-size: 24px;
        margin-bottom: 20px;
      }

      .bottom-row-container {
        display: flex;
        align-items: center;
        & > span:first-child {
          margin-right: 20px;
        }
      }
      .playlist-rating-big {
        height: max-content;
        user-select: none;
        display: inline-block;
        .playlist-heart {
          fill: white;
          width: 30px;

          &:hover {
            fill: #d4465d;
          }
        }
        .liked {
          fill: #d4465d;
        }
      }
    }
  }
  .tracks-container {
    box-sizing: border-box;
    max-height: 60vh;
    overflow-y: scroll;
    width: 100%;
    padding-left: 20px;
    background-color: #93aebd38;
    background-blend-mode: color-dodge;
    border-radius: 5px;
    box-shadow: 1px 1px 11px 3px #00000014;
  }
  .tracks-container::-webkit-scrollbar {
    display: none;
  }
}
