.header-container {
  margin: 0% auto;
  left: 0;
  right: 0;
  height: 60px;
  margin: 0px auto;
  background-color: #faaca8;
  background-image: linear-gradient(19deg, #dd6990 0%, #fbafa8 100%);
  box-shadow: -2px 3px 7px 3px #00000024;

  .navigation {
    display: flex;
    width: auto;
    height: 100%;
    user-select: none;
    flex-wrap: nowrap;
    align-items: center;

    .nav-left {
      padding-left: 10px;
      height: 100%;
      width: 50%;
      align-self: left;
      ul:hover {
        border-bottom: solid 3px pink;
      }
    }

    .nav-right {
      padding-right: 10px;
      display: flex;
      height: 100%;
      width: 50%;
      justify-content: flex-end;
      ul:hover {
        border-bottom: solid 3px pink;
      }
    }
    .nav-item {
      display: flex;
      align-items: center;
      padding: 0px 10px;
      width: max-content;
      height: 100%;
      font-weight: bolder;
      cursor: pointer;
    }
    ul {
      box-sizing: border-box;
      transition: all 200ms;
    }
    ul:hover {
      color: white;
    }
  }
}
