* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  background: linear-gradient(120deg, #64719e, #1f847a);
}
body::-webkit-scrollbar {
  display: none;
}

#root {
  height: 100%;
}
