* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  height: max-content;
  font-family: "Lato", sans-serif;
  background-image: linear-gradient(120deg, #64719e, #1f847a);
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* overflow-y: hidden; */
}
body::-webkit-scrollbar {
  display: none;
}

#root {
  height: 100%;
}
